<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nothing to see here</title>
    <!-- Open Graph metadata -->
    <meta property="og:title" content="Nothing to see here">
    <meta property="og:image" content="{{ url }}/ip.png">
    <meta property="og:description" content="Cybersecurity demo">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #2e2e2e; /* dark grey */
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: white;
            font-size: 5em;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Nothing to see here...</h1>
</body>
</html>
